.login-container .MuiInputBase-root input {
  padding: 8px 10px;
}

/* NAvbar  */
.MuiMenu-list .link a,
.MuiAccordionDetails-root .link a {
  font-family: 'chivo';
  text-decoration: none !important;
  color: #505050;
  padding-left: 30px;

}

.MuiMenu-list .link:hover {
  background-color: #d0e9f4 !important;
  color: #248dc1 !important;
}

/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.MuiList-root li:hover {
  background-color: #c7c7c8;
}

/* Button  */
.header-btn.MuiButtonBase-root {
  color: #fff;
  text-transform: none;
}

.header-btn .MuiTouchRipple-root {
  background-color: transparent;
  color: #fff;
}

/* DataGrid  */
.MuiButtonBase-root.MuiCheckbox-root.Mui-checked {
  color: #00af51 !important;
}

.MuiDataGrid-cell {
  padding: 0;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
  /* This is use for remove the outline colour after click on cell */
}

.login-container .MuiInputBase-root input {
  padding: 8px 10px;
}

/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.MuiList-root li {
  font-family: 'chivo';
}

.MuiList-root li:hover {
  background-color: #c7c7c8;
}
@media screen and (max-width: 1385px) {
  .filter-section .MuiTypography-root label{
    font-size: 14px;
  } 
}
@media screen and (min-width: 1200px) and (max-width: 1260px) {
  .filter-section .MuiTypography-root label{
    font-size: 12px;
  } 
}
/* */

/*common for checkbox label */
.MuiFormControlLabel-label {
  font-family: Chivo !important;
}
/* custom slider css */
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  background-color: #fff;
}
.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
  background-color: #fff;
}
.react-multiple-carousel__arrow--left::before {
  color: #000 !important;
}
.react-multiple-carousel__arrow--right::before {
  color: #000 !important;
}
