.login-container .MuiInputBase-root input {
  padding: 8px 10px;
}

/* NAvbar  */
#demoMenu .MuiMenu-list .link a,
.orgadmin-navbar .MuiAccordionDetails-root .link a {
  font-family: 'chivo';
  text-decoration: none !important;
  color: #505050;
  padding-left: 30px;
}
.orgadmin-navbar .MuiMenu-list .link:hover {
  background-color: #d0e9f4 !important;
  color: #248dc1 !important;
}
.orgadmin-navbar .MuiPaper-root.MuiAccordion-root.Mui-expanded{
  margin: 0px !important;
}
/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.orgadmin-navbar .MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.orgadmin-navbar .MuiList-root li:hover {
  background-color: #c7c7c8;
}

/* Button  */
.header-btn.MuiButtonBase-root {
  color: #fff;
  text-transform: none;
}

.header-btn .MuiTouchRipple-root {
  background-color: transparent;
  color: #fff;
}

/* DataGrid  */
.MuiDataGrid-root{
  border-color: transparent !important;
}
.MuiDataGrid-cell {
  padding: 0;
}
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
  /* This is use for remove the outline colour after click on cell */
}



/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.MuiList-root li {
  font-family: 'chivo';
}

.MuiList-root li:hover {
  background-color: #c7c7c8;
}
/*common for checkbox label */
.MuiFormControlLabel-label {
  font-family: Chivo !important;
}
/* custom slider css */
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  background-color: #fff;
}
.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
  background-color: #fff;
}
.react-multiple-carousel__arrow--left::before {
  color: #000 !important;
}
.react-multiple-carousel__arrow--right::before {
  color: #000 !important;
}
/* custom table select with datagrid */
.tableimage{
  background-image: url('./assets/images/insight/recbarpattern-taller-new.png') !important;
}
.css-1kqls9p-MuiDataGrid-root .MuiDataGrid-withBorderColor, .css-1iyq7zh-MuiDataGrid-columnHeaders, .css-1kqls9p-MuiDataGrid-root, .css-wop1k0-MuiDataGrid-footerContainer{
  border: none !important;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle{
  font-weight: bolder !important;
  color:#248dc5
}
.customtableheader{
  display: flex;
}
.customTypography {
  padding-left: 7px;
  padding-right: 10px;
  font-size: 13px !important;
  font-weight: 900 !important;
  color: rgb(111, 110, 110);
  letter-spacing: 1px !important;
}
/* datagrid pagination */
.css-levciy-MuiTablePagination-displayedRows{
  margin-top: auto;
}
/* custom date range calendar css */
.css-bkzwk2-MuiStack-root{
  padding: 0 !important;
}
.css-1v8yqdb-MuiPickersArrowSwitcher-root{
  padding: 0 !important;
}
/* react- date- range */
.rdrDefinedRangesWrapper{
  display: none;
}
.rdrMonthAndYearWrapper{
  height: 40px;
  padding: 0 !important; 
}
.rdrMonth{
  padding: 0 !important;
  width: 23em !important;
}
.rdrDay{
  height: 3em !important;
}